repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.3.0
    hooks:
    -   id: check-yaml
    -   id: check-toml
    -   id: check-json
-   repo: https://github.com/psf/black
    rev: 22.6.0
    hooks:
    -   id: black
